.blog {
	.blog-wrapper {
		
		.blog-post {
			position: relative;
			width: 100%;
			height: 150px;
			overflow: hidden;
			border-top: 1px solid @border-color;

			.blog-post-img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				img {
					.transition(all .1s ease);
					width: 106%;
					height: auto;
					margin-top: -50%;
					margin-left: -3%;
					-webkit-filter: grayscale(100%);
					filter: grayscale(100%);
				}
			}
			.blog-post-img:hover {
				cursor: pointer;
				img {
					width: 100%;
					margin-top: -47%;
					margin-left: 0;
					.transition(all .1s ease);
					-webkit-filter: grayscale(0);
					filter: grayscale(0);
				}
			}
		}
		
	}
}




