.blog {
	background-color: black;
	.blog-wrapper {

		.blog-post {

			background-image: -ms-linear-gradient(bottom, #000000 0%, #383838 100%);
			background-image: -moz-linear-gradient(bottom, #000000 0%, #383838 100%);
			background-image: -o-linear-gradient(bottom, #000000 0%, #383838 100%);
			background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(1, #383838));
			background-image: -webkit-linear-gradient(bottom, #000000 0%, #383838 100%);
			background-image: linear-gradient(to top, #000000 0%, #383838 100%);

			position: relative;
			width: 100%;
			height: @blog-post-height;
			@media @tablet-display { height: @blog-post-height-tablet; }
			@media @mobile-display { height: @blog-post-height-mobile; }
			overflow: hidden;
			border-top: 1px solid rgba(0,0,0,.6);

			.blog-post-hover {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				img.blog-post-bgimg {
					//.transition(all .5s ease);
					width: 100%;
					height: auto;
					margin-top: -50%;
					-webkit-filter: opacity(.4) grayscale(100%);
					filter: opacity(.4) grayscale(100%);
				}
				z-index: 9;
			}
			.blog-post-hover:hover {
				cursor: pointer;
				img.blog-post-bgimg {
					width: 100%;
					//.transition(all .5s ease);
					-webkit-filter: opacity(1) grayscale(0);
					filter: opacity(1) grayscale(0);
				}
			}

			.blog-post-title {
				position: absolute;
				top: (@blog-post-height / 2) - (@blog-post-title-height / 2);
				@media @tablet-display { top: (@blog-post-height-tablet / 2) - (@blog-post-title-height / 2); }
				@media @mobile-display { top: (@blog-post-height-mobile / 2) - (@blog-post-title-height / 2); }
				left: 5%;
				width: 90%;
				height: @blog-post-title-height;
				line-height: @blog-post-title-height;
				white-space: nowrap;
				overflow: hidden !important;
				text-overflow: ellipsis;
				font-weight: bolder;
				color: white;
				text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
				font-size: 24px;
				@media @tablet-display {
					font-size: 21px;
				}
				@media @mobile-display {
					font-size: 16px;
				}
				vertical-align: middle;
				
				z-index: 99;
			}
			.blog-post-lang {
				@blog-post-lang-height: 10px;
				@overlap-margin: 5px;
				@overlap-margin-tablet: 8px;
				@overlap-margin-mobile: 12px;
				position: absolute;
				top: (@blog-post-height / 2) - (@blog-post-lang-height / 2) - @blog-post-title-height + @overlap-margin;
				@media @tablet-display { top: (@blog-post-height-tablet / 2) - (@blog-post-lang-height / 2) - @blog-post-title-height + @overlap-margin-tablet; }
				@media @mobile-display { top: (@blog-post-height-mobile / 2) - (@blog-post-lang-height / 2) - @blog-post-title-height + @overlap-margin-mobile; }
				left: 5%;
				width: 90%;
				color: white;
				height: @blog-post-lang-height;
				line-height: @blog-post-lang-height;
				vertical-align: middle;
				font-size: 11px;
				@media @tablet-display { font-size: 10px; }
				@media @mobile-display { font-size: 8px; }
				.blog-post-lang-flag {
					margin-left: 3px;
					height: @blog-post-lang-height - 1;
					width: auto;
				}
			}
		}
		.blog-post:first-of-type {
			border: none;
		}
	}
}




