.portfolio {
	text-align: center;
	.portfolio-wrapper {
		
		padding: 10px 30px;
		margin: auto;

		.portfolio-row {
			width: 100%;
			margin-top: 20px;
		}
		.portfolio-row:first-of-type {
			margin-top: 50px;
		}
		.portfolio-row:last-of-type {
			margin-bottom: 50px;
		}

		.portfolio-title {
			font-size: 40px;
			@media @mobile-display {
				font-size: 24px;
			}
		}
		
	}
}




