// COLORS
@text-primary: rgb(73,95,100);
@text-secondary: rgb(113,135,140);
@border-color: rgb(224,236,240);
@item-bg: rgb(251,243,218);
@body-bg: rgb(249,249,249);
@link: rgb(105,203,149);
@link-hover: rgb(79,182,125);


// SETTINGS
@sidepanel-width: 30%;
@pages-width: 70%;