// SOCIAL
@facebook: #3b5998;
@twitter:#55acee;
@youtube:#e52d27;
@github: #333333;
@linkedin: #0976b4;

//53 56 76
//45 47 64
//36 38 52



// COLORS
@text-primary: rgb(73,95,100);
@text-secondary: rgb(113,135,140);
@text-tertiary: rgb(163,183,190);
@border-color: rgb(224,236,240);
@item-bg: rgb(251,243,218);
@body-bg: rgb(249,249,249);
@link: rgb(105,203,149);
@link-hover: rgb(79,182,125);


// SETTINGS
@sidepanel-width: 250px;
@sidepanel-mobile-width: 40px;

@toggle-width: 800px;
@tablet-width: 1000px;
@mobile-display: ~"only screen and (max-width: @{toggle-width})";
@tablet-display: ~"only screen and (max-width: @{tablet-width})";
@desktop-display: ~"only screen and (min-width: @{toggle-width})";


// PORTFOLIO
@portfolio-vis-maxwidth: 300px;

// BLOG
@blog-post-height: 150px;
@blog-post-height-tablet: 120px;
@blog-post-height-mobile: 90px;
@blog-post-title-height: 30px;




