.sidepanel-toptal-icon {
	height: 25px;
	width: auto;
	padding: 0;
	margin: 0;
	vertical-align: bottom;
	margin-right: 13px;
}


.sidepanel {
	position: relative;
	float: left;
	padding: 0;
	margin: 0;
	background-color: @body-bg;
	z-index: 999;

	.sidepanel-toggle {
		position: absolute;
		top: 10px;
		left: 10px;
		font-size: 18px;
		text-align: left;
		i:hover {
			cursor: pointer;
			color: @link;
		}
	}

	.sidepanel-divider {
		border: none;
		border-bottom: 1px solid lightgray;
		width: 70%;
		@media @mobile-display { width: 100%; }
		margin-bottom: 0 !important;
		margin-top: 22px;
	}

	

	.sidepanel-list {
		list-style: none;
		padding: 0;
		margin: 0;
		font-size: 18px;
		color: @text-secondary;
		
		.sidepanel-item-icon {
			width: 20px;
			height: 20px;
			font-size: 21px;
			margin-right: 10px;
		}
		.user-select(none);

		li {
			text-align: left;
			a {
				width: 100%;
				display: inline-block;
				color: @text-secondary !important;
				padding: 10px;
				padding-left: 30px;
			}
		}
		li:hover {
			cursor: pointer;
			background-color: @item-bg;
		}
		li.active {
			background-color: @item-bg;
		}
		/*
		// colorful social icons
		.sidepanel-item-gh {
			a .fa{color: @github;}
		}
		.sidepanel-item-fb {
			a .fa{color: @facebook;}
		}
		.sidepanel-item-tw {
			a .fa{color: @twitter;}
		}
		.sidepanel-item-gp {
			a .fa{color: @youtube;}
		}
		.sidepanel-item-li {
			a .fa{color: @linkedin;}
		}
		*/
		.sidepanel-item-tp:hover {
			background-color: white;
			a, a .fa { color: @toptal !important; }
		}
		.sidepanel-item-gh:hover {
			background-color: @github;
			a, a .fa { color: white !important; }
		}
		.sidepanel-item-fb:hover {
			background-color: @facebook;
			a, a .fa { color: white !important; }
		}
		.sidepanel-item-tw:hover {
			background-color: @twitter;
			a, a .fa { color: white !important; }
		}
		.sidepanel-item-gp:hover {
			background-color: @youtube;
			a, a .fa { color: white !important; }
		}
		.sidepanel-item-li:hover {
			background-color: @linkedin;
			a, a .fa { color: white !important; }
		}
		
	}

}

.sidepanel.mobile {
	width: @sidepanel-mobile-width;
	.sidepanel-elems { width: @sidepanel-mobile-width; }

	.sidepanel-list {
		.sidepanel-small-hide {
			display: none;
		}
		.sidepanel-item-icon {
			margin: 0;
		}
		li {
			a {
				padding-left: 0;
				padding: 10px;
			}
		}
	}
}

// hide scrollbars
.sidepanel, .sidepanel-elems {
	width: @sidepanel-width;
}

.sidepanel {
	position: relative;
	overflow: hidden;
}

.sidepanel-scrollhide {
	position: absolute;
	left: 0;
	overflow-x: hidden;
	overflow-y: scroll;
}
.sidepanel-scrollhide::-webkit-scrollbar{
	width: 0 !important
}
.sidepanel-scrollhide {
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}

